@import "../../scss/variables.scss";
button {
  background-color: $primary-color;
  border-radius: 30px;
  color: #ffffff;
  padding: 12px 19px;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
  & > * {
    margin: 3px;
  }
  .separator {
    height: 25px;
    width: 1px;
    background: rgba(255, 255, 255, 0.25);
    margin: 0 12px;
  }
  img {
    height: 15px;
  }
}
